<!DOCTYPE html>
<html lang="en">
  <head th:replace="layout :: head(~{::title})">
    <title>Home</title>
  </head>
  <body>
    <!--================ Start Header Menu Area =================-->
    <header th:replace="layout :: header"></header>
    <!--================ End Header Menu Area =================-->

    <!-- ================ start banner area ================= -->
    <section class="blog-banner-area" id="category">
      <div class="container h-100">
        <div class="blog-banner">
          <div class="text-center">
            <h1>Shopping Cart</h1>
            <nav aria-label="breadcrumb" class="banner-breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Shopping Cart
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <!-- Shopping Cart section End -->

    <!-- ================Cart Area =================-->
    <section class="cart_area">
      <div class="container">
        <div class="cart_inner">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Image</th>
                  <th scope="col">Product Name</th>
                  <th scope="col">Price</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Total</th>
                  <th>
                    <i
                      onclick="confirm('Are you sure to delete all the products in the cart?') === true ? destroyCart() : ''"
                      style="cursor: pointer"
                      class="ti-close"
                    ></i>
                  </th>
                </tr>
              </thead>
              <tbody id="body"></tbody>
              <!-- <tbody>
                <tr>
                  <td>
                    <div class="media">
                      <div class="d-flex">
                        <img src="img/cart/cart1.png" alt="" />
                      </div>
                      <div class="media-body">
                        <p>Minimalistic shop for multipurpose use</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <h5>$360.00</h5>
                  </td>
                  <td>
                    <div class="product_count">
                      <input
                        type="text"
                        name="qty"
                        id="sst"
                        maxlength="12"
                        value="1"
                        title="Quantity:"
                        class="input-text qty"
                      />
                      <button
                        onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                        class="increase items-count"
                        type="button"
                      >
                        <i class="lnr lnr-chevron-up"></i>
                      </button>
                      <button
                        onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                        class="reduced items-count"
                        type="button"
                      >
                        <i class="lnr lnr-chevron-down"></i>
                      </button>
                    </div>
                  </td>
                  <td>
                    <h5>$720.00</h5>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="media">
                      <div class="d-flex">
                        <img src="img/cart/cart2.png" alt="" />
                      </div>
                      <div class="media-body">
                        <p>Minimalistic shop for multipurpose use</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <h5>$360.00</h5>
                  </td>
                  <td>
                    <div class="product_count">
                      <input
                        type="text"
                        name="qty"
                        id="sst"
                        maxlength="12"
                        value="1"
                        title="Quantity:"
                        class="input-text qty"
                      />
                      <button
                        onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                        class="increase items-count"
                        type="button"
                      >
                        <i class="lnr lnr-chevron-up"></i>
                      </button>
                      <button
                        onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                        class="reduced items-count"
                        type="button"
                      >
                        <i class="lnr lnr-chevron-down"></i>
                      </button>
                    </div>
                  </td>
                  <td>
                    <h5>$720.00</h5>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="media">
                      <div class="d-flex">
                        <img src="img/cart/cart3.png" alt="" />
                      </div>
                      <div class="media-body">
                        <p>Minimalistic shop for multipurpose use</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <h5>$360.00</h5>
                  </td>
                  <td>
                    <div class="product_count">
                      <input
                        type="text"
                        name="qty"
                        id="sst"
                        maxlength="12"
                        value="1"
                        title="Quantity:"
                        class="input-text qty"
                      />
                      <button
                        onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                        class="increase items-count"
                        type="button"
                      >
                        <i class="lnr lnr-chevron-up"></i>
                      </button>
                      <button
                        onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                        class="reduced items-count"
                        type="button"
                      >
                        <i class="lnr lnr-chevron-down"></i>
                      </button>
                    </div>
                  </td>
                  <td>
                    <h5>$720.00</h5>
                  </td>
                </tr>
                <tr class="bottom_button">
                  <td>
                    <a class="button" href="#">Update Cart</a>
                  </td>
                  <td></td>
                  <td></td>
                  <td>
                    <div class="cupon_text d-flex align-items-center">
                      <input type="text" placeholder="Coupon Code" />
                      <a class="primary-btn" href="#">Apply</a>
                      <a class="button" href="#">Have a Coupon?</a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td>
                    <h5>Subtotal</h5>
                  </td>
                  <td>
                    <h5>$2160.00</h5>
                  </td>
                </tr>
                <tr class="shipping_area">
                  <td class="d-none d-md-block"></td>
                  <td></td>
                  <td>
                    <h5>Shipping</h5>
                  </td>
                  <td>
                    <div class="shipping_box">
                      <ul class="list">
                        <li><a href="#">Flat Rate: $5.00</a></li>
                        <li><a href="#">Free Shipping</a></li>
                        <li><a href="#">Flat Rate: $10.00</a></li>
                        <li class="active">
                          <a href="#">Local Delivery: $2.00</a>
                        </li>
                      </ul>
                      <h6>
                        Calculate Shipping
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                      </h6>
                      <select class="shipping_select">
                        <option value="1">Bangladesh</option>
                        <option value="2">India</option>
                        <option value="4">Pakistan</option>
                      </select>
                      <select class="shipping_select">
                        <option value="1">Select a State</option>
                        <option value="2">Select a State</option>
                        <option value="4">Select a State</option>
                      </select>
                      <input type="text" placeholder="Postcode/Zipcode" />
                      <a class="gray_btn" href="#">Update Details</a>
                    </div>
                  </td>
                </tr>
                <tr class="out_button_area">
                  <td class="d-none-l"></td>
                  <td class=""></td>
                  <td></td>
                  <td>
                    <div class="checkout_btn_inner d-flex align-items-center">
                      <a class="gray_btn" href="#">Continue Shopping</a>
                      <a class="primary-btn ml-2" href="#"
                        >Proceed to checkout</a
                      >
                    </div>
                  </td>
                </tr>
              </tbody> -->
            </table>
          </div>
          <div style="padding-bottom: 1.5rem" class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4 offset-lg-4">
              <div class="proceed-checkout">
                <ul>
                  <li class="cart-total">
                    Total <span class="totalPrice">$0</span>
                  </li>
                </ul>
                <a href="/checkout" class="proceed-btn"
                  >Proceed to checkout</a
                >
                <!--  <button style="width: 100%" class="proceed-btn"><a href="/checkout">Proceed to order</a></button>-->
              </div>
            </div>
        </div>
      </div>
    </section>
    <!--================End Cart Area ================= -->

    <!--================ Start footer Area  =================-->
    <footer th:replace="layout :: footer"></footer>
    <!--================ End footer Area  =================-->
  </body>
  <script>
    let carts = JSON.parse(sessionStorage.getItem('cart'))
    let cartNoJSON = sessionStorage.getItem('cart')
    let total = 0
    if (carts !== null) {
      carts.map((cart) => {
        total += cart.price * cart.quantity
        id = cart.id
        $('#body').append(
          `<tr data-rowid="${cart.id}"> 
                    <td class="cart-pic first-row" >
                        <a href="shop/product?IdProduct=${cart.id}">
                            <img src="images/products/${cart.image}" alt="${
            cart.productName
          }" style="height: 80px; width:130px">
                        </a>
                    </td>
                    <td class="cart-title first-row"><h5>${
                      cart.productName
                    }</h5></td>
                    <td class="p-price first-row">$${cart.price}0</td>
                    <td class="qua-col first-row">
                        <div class="quantity">
                            <div class="pro-qty" id="pro-qty-cart" >
                                <input class="input-qty-cart" type="number" value="${
                                  cart.quantity
                                }" min="1" data-rowid="${cart.id}" onchange="handleChangeInput(this, ${cart.id}, ${cart.price})">
                            </div>
                        </div>
                    </td>
                    <td class="total-price first-row" data-rowid="${cart.id}">$${
                      cart.price * cart.quantity
                    }.00</td>           
                </tr>`
        )
      })
    }
    $('.totalPrice').text(`$${total.toFixed(2)}`)

    function handleChangeInput(input, id, price){
      let quantity = parseInt(input.value || 0)
      let total = 0
      carts = carts.map(item => {
        if(item.id == id){
          item.quantity = quantity
        }
        return item
      })
      Array.from(document.querySelectorAll('.total-price')).forEach((item, index) => {
        if(item.getAttribute("data-rowid") == id){
          item.textContent =`$${price * quantity}.00`
        }
      })
      carts.forEach(item => {
        total += item.price * item.quantity
      })

      $('.totalPrice').text(`$${total.toFixed(2)}`)
      sessionStorage.setItem("cart", JSON.stringify(carts))
    }

    function destroyCart() {
      sessionStorage.clear()
      location.reload()
    }
  </script>
</html>
